* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #0E2932;
    font-family: 'Cormorant Garamond', serif;
}

body {
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 2em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0;
}

h3 {
    font-style: italic;
    font-weight: 500;
    font-size: 1.3em;
    margin-top: 0.5em;
}

hr {
    margin: 2em 0;
}

h1 + hr {
    margin: 1em 0;
}

p {
    font-size: 1.2em;
}

nav {
    flex: none;
    margin: 10px auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 10px 0;
}

ul li {
    display: inline-block;
    border-right: 0.5px solid #0E2932;
    padding: 0 15px;
}

ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    font-weight: 500;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0E2932;
}


.banner {
    margin: 20px auto 0 auto;
    flex: 1 1 auto;
    max-width: 500px;
    width: 80vw;
}

.content {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.wreath {
    display: block;
    flex: 1 1 auto;
    max-height: 50%;
    max-width: 75%;
    margin: 10px auto;
}

.info {
    min-width: 330px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline {
    max-width: 400px;
    margin: 0 auto 3em auto;
}

.dates {
    display: table;
}

.dates li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dates-fancy {
    font-weight: 500;
    font-size: 2em;
    font-style: italic;
}

.dates-num {
    display: inline-block;
    font-weight: 500;
    font-size: 4em;
    line-height: 0.5;
}

.dates-month {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 1em;
}

.location {
    font-weight: 500;
    font-size: 1.2em;
}

table {
    margin: auto;
    font-size: 1.3em;
}

td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table .times {
    text-align: right;
    padding-right: 2em;
    padding-left: 3em;
}

table .descriptions {
    text-align: left;
}

.map {
    border: none;
    display: block;
    margin: 2em auto;
}

#rsvp-typeform {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

.logo {
    margin: 1em auto;
}

.typeform-widget {
    flex: 1;
}

.rsvp {
    justify-content: stretch;
    overflow: hidden;
}

@media all and (max-width: 615px) {
    nav ul li a {
        font-size: 1em;
    }
    .dates-fancy {
        font-size: 1.32em;
    }
    .dates-num {
        font-size: 2.64em;
    }
    .dates-month {
        font-size: 0.79em;
    }
    .location {
        font-size: 0.79em;
    }

    p {
        font-size: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    table {
        font-size: 1em;
    }

    table .times {
        padding-left: 0.5em;
    }

}

.kitty {
    width: 100%;
}

a {
    text-decoration: none;
}
